<!doctype html>
<html lang="zh" class="no-js">
<include file="Index/head"/>
<body>
	<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-default bs_nav" role="navigation">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{:U('Home/index/index')}">Brand</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse bs_collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="{:U('Home/index/dongtai')}">动态</a></li>
		        <li><a href="{:U('Home/index/huoban')}">伙伴</a></li>
		        <li><a href="{:U('Home/index/count')}">报数</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		          	<img src="{$Think.const.SITE_URL}{$userpic}" style="width: 30px;height: 30px;border-radius: 30px;border:2px #fff solid;margin-right: 3px;margin-left: -2px">
			          <span>{$Think.session.name}</span> 
			          <span class="caret"></span>
		          </a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="{:U('Home/Uppic/index')}">修改头像</a></li>
		            <li><a href="#">账户设置</a></li>
		            <li><a href="#">{$admin}</a></li>
		            <li class="divider"></li>
		            <li><a onclick="if (confirm('确定要退出吗？')) return true; else return false;" href="{:U('Home/Manage/logout')}">退出</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		</nav>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form action="{$think.const.__SELF__}" method="post" enctype="multipart/form-data">
				<input type="checkbox" name="team_id[]" value="1" />
				<input type="checkbox" name="team_id[]" value="2"/>
				<input type="checkbox" name="team_id[]" value="3"/>
				<input type="checkbox" name="team_id[]" value="4"/>
				<input type="submit" class="btn btn-lg btn-info" value="submit"></input>
			</form>
		</div>
	</div>
	</div>
</body>