<!doctype html>
<html lang="zh" class="no-js">
<include file="Index/head"/>
<body>
	<div class="container-fluid">
	<div class="row">
		<include file="Index:nav" />
	</div>
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>伙伴今日报数</h2>
		<table class="table table-condensed">
		  <thead>
		  	<tr>
		  		<th>伙伴</th>
		  		<th>密咒</th>
		  		<th>报数</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<volist name="dongtai" id="v">
		  	<tr>
			  	<td>{$v.uid}</td>
			  	<td>{$v.jid}</td>
			  	<td>{$v.count}</td>
		  	</tr>
		  	</volist>
		  </tbody>
		</table>
	</div>
	</div>
	</div>
</body>
</html>