<!DOCTYPE html>
<html lang="en">
  	<include file="Index:head" />
  	<script type="text/javascript">
	    window.document.title = '注册 - i.P.A.S.S';
	</script>
  	<script type="text/javascript">
		function regformsubmit(){
			var NickName = document.getElementById('nickname').value;
			var number = document.getElementById('number').value;
			var password = document.getElementById('password').value;
			var repassword = document.getElementById('repassword').value;
			if (NickName=='') {
				alert("昵称不能为空！")
			}else{
				if (number.length==11) {
					if (password==''||password.length<6) {
						alert("密码不能少于 6 位!");
					}else{
						if (repassword==password) {
							document.getElementById('reg-form').submit();
						}else{
							alert("两次密码不同!")
						}
					}
				}else{
					alert("手机号必须等于11位数字!");
				}
			}	
		}
	</script>
	<script type="text/javascript">
	    var btn = document.getElementById('hyh');
	    btn.onclick=function(){
	      window.location.reload();
	    }
  	</script>
  	<style>
  		html,body{height: 100%;margin: 0;padding: 0}
  		.row{padding: 0;margin:0 }
  		.borderR0{border-radius: 0;}
  		.borderRtrl0{border-bottom-left-radius: 0px;border-bottom-right-radius: 0px}
  		.borderRbrl0{border-top-left-radius: 0px;border-top-right-radius: 0px}
  		.login_con{padding: 140px 4% 0;}
  		.reg-slogan{margin: 15px auto;text-align: center; color: #333; display: none;}
		@media (max-width: 767px){
		   	.login_con{padding: 30px 4% 0}
		   	.reg-slogan{display: block;}
		}
  	</style>
  <body>
  	<div class="container-fluid" style="height: 100%;padding: 0; background-image: url('{$Think.const.HIMG}2.jpeg');background-size: cover;background-position: center;">
	    <div class="row">
	      	<div class="col-sm-4 col-sm-offset-8 login_con">
	          	<form action="{:U('Home/Index/reg')}" method="post" id="reg-form" class="login_form_con">
					<h2 style="color: #9aaabf;">注册 i.P.A.S.S</h2>
					
					<input type="text" id="nickname" name="nickname" class="form-control borderRtrl0" placeholder="昵称"></input>
					<input type="tel" id="number" name="number" class="form-control borderR0" placeholder="手机号"></input>
					<input type="password" id="password" name="password" class="form-control borderR0" placeholder="密码"></input>
					<input type="password" id="repassword" name="repassword" class="form-control borderR0" placeholder="再次确认密码"></input>
					<input type="text" name="captcha" id="inputVerify" class="form-control borderRbrl0" placeholder="输入验证码" required><br/>
					<img src="{:U('Home/Index/VerifyImg')}"  alt="" /><button id="hyh" class="btn btn-warning" style="margin-left: 10px">换一换</button><br/><br/>
					<input type="button" class="btn btn-lg btn-block btn-info" value="注册" onclick="regformsubmit()"/>
		          	<a href="{:U('Home/Index/index')}" class="btn_toreg">返回登录</a>
		          	
	        	</form>
	      	</div>
	    </div>
    </div> <!-- /container -->
			

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{$Think.const.HJS}ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
