<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="hanwei，瀚威，hanweixinli，瀚威心理，xinli，心理，xinliyisheng，心理医生">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>沈阳瀚威心理咨询有限公司-专家团队</title>
    <link rel="shortcut icon" href="http://hanwei-mind.com/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{$Think.const.BS_URL}bootstrap.min.css">
  <script type="text/javascript" src="{$Think.const.JS_URL}jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{$Think.const.BJS_URL}bootstrap.min.js"></script>
  <!-- web -->
  <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}web.css">
  <link href="{$Think.const.CSS_URL}web_style.css" rel="stylesheet">
  <!-- nav -->
  <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}style.css">
  <!-- icon -->
  <link rel='stylesheet' href='{$Think.const.AWE_URL}font-awesome.min.css'>
  <link href="{$Think.const.CSS_URL}linearicons.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style type="text/css">
    body{background-color: #eee}
  </style>
</head>
<body>
        <!--======== header =========-->
        <div style="margin-top:-20px">
        <include file="Web:top" /></div>
        <!--======== end =========-->
        <!-- ============banner========== -->
        <volist name="experttop" id="v">
        <div style="position: relative;">
          <div class="h_e_banner frosted-glass" style="background-image: url('{$Think.const.IMG_UPLOAD}{$v.img}'); background-size: cover; background-position: center;">
          </div>
          <div class="h_banner_text">
            <h1>瀚威心理</h1>
            <h3><i>Hanwei Psychology</i></h3>
          </div>
          <div class="h_banner_cover"></div>
        </div>
        </volist>
        <!-- ===========end============ -->

        <!-- ============专家模块=========== -->
        <div class="container what-we-do">
          <div class="row">
            <volist name="expert" id="v" offset="1">
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="do-box text-center">
                      <img class="img-circle" src="{$Think.const.IMG_UPLOAD}{$v.img}" alt="心理咨询师">
                      <h3>{$v.name}</h3>
                      <p>{$v.intro}</p>
                  </div>
              </div>
            </volist>
          </div>
        </div>
        <!-- ================end================ -->
        <!--======== footer =========-->
        <include file="Web:footer"/>
        <!-- ========end================== -->
        <script src="{$Think.const.JS_URL}owl.carousel.min.js"></script>
        <script src="{$Think.const.JS_URL}custom.js"></script>
        <script type="text/javascript" src="{$Think.const.JS_URL}animenu.js"></script>
</body>
</html>